[Unit]
Description=fish
After=network.target remote-fs.target

[Service]
Type=forking
ExecStart=forever start /home/work/fish-client/index.js
ExecStartPost=/bin/echo fish client start up!
ExecReload=forever restart /home/work/fish-client/index.js
ExecStop=forever stop /home/work/fish-client/index.js

[Install]
WantedBy=multi-user.target
