[Unit]
Description=fish
After=network.target remote-fs.target

[Service]
Type=forking
ExecStart=/usr/local/bin/forever start /home/work/fish-client/index.js
ExecStartPost=/bin/echo fish client start up!
ExecReload=/usr/local/bin/forever restart /home/work/fish-client/index.js
ExecStop=/usr/local/bin/forever stop /home/work/fish-client/index.js

[Install]
WantedBy=multi-user.target
